:root {
  --bg-darker-0: #e3e3e3;
  --bg: #f2f2f2;
  --accent-darker-1: #4371bf;
  --accent-darker-0: #4a7cd4;
  --accent: #4c8bf7;
  --border: #cccccc;
  --text: #444444;
  --text-light: #f2f2f2;
  --icon: #444444;
}